/* header.module.css */
.navbar {
  display: flex;
  justify-content: center; /* Center the navbar content */
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Navbar Logo */

.navbarLogo a {
  font-size: 1.5rem;
  
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbarLogo a:hover {
  color: #ff6347;
  transform: scale(1.1);
}

/* Navigation Links */
.navbarLinks {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbarLinks li {
  position: relative;
  display: flex;
  align-items: center;
}

.navbarLinks li a {
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  display: block;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Hide Navbar when scrolling down */
.hideNavbar {
  transform: translateY(-100%); /* Move navbar out of view */
}

/* Show Navbar when scrolling up */
.showNavbar {
  transform: translateY(0); /* Keep navbar in place */
}

/* Hover Effect with Animated Bottom Half Line */
.navbarLinks li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ff6347;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

/* Hover Effect for Link */
.navbarLinks li a:hover {
  color: #ff6347;
  transform: translateY(-2px);
}

.navbarLinks li a:hover::after {
  width: 50%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbarLinks {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbarLinks {
    display: flex;
  }
}
