.icons{
    height: auto;
    width:60px;
    /* border: 2px solid red; */
    left: 100%;
    gap:10px;
    position: fixed;
    display: grid;
    z-index: 1;
    transform: translate(-60%,-100%);
    font-size: 35px;
    margin: auto;
    color: #000;
    cursor: pointer;
    background: transparent;
}